img {
  width: 100%;
  height: 100%;
}
.column {
  width: 30%;
  height: 500%;
  float: left;
  margin: 10px;
  border: 10px solid red;
  padding: 10px;
  box-sizing: border-box;
  background-color: aqua;
}

h2 {
color:blue;
}

.column h2 {
  color:brown;
  text-align: center;
  font-weight: bold;
  font-style: oblique;
}

body {
  text-align: center;
}

.warning {
  font-weight: bolder;
  font-size: large;
  color: purple;
}